<div class="auth-container">
<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Connect your Bandcamp account
      </h1>
    </div>
  </div>
</section>

<% if (errorMessage) { %>
  <p class="error-message">
    <%= errorMessage %>
  </p>
<% } %>

<form action="/bandcampsetup" method="post" class="form-fields auth-form">
  <div class="field">
    <label class="label" for="username-input"> Username </label>
    <div class="control has-icons-left">
      <input class="input" type="text" name="bandcampUsername" placeholder="Enter your Bandcamp username" autocomplete="off">
      <span class="icon is-small is-left">
      <i class="fa fa-user"></i>
    </span>
    </div>
  </div>

  <div class="field is-grouped">
  <div class="control">
    <button class="button is-link"> Submit </button>
    <div class="auth-fallback"></div>
  </div>
  </div>
</form>
