<h2> Sign Up </h2>

<% if (errorMessage) { %>
  <p class="error-message">
    <%= errorMessage %>
  </p>
<% } %>

<form action="/signup" method="post">
  <div>
    <label for="username-input"> Username </label>
    <input type="text" name="username">
  </div>

  <div>
    <label for="password-input"> Password </label>
    <input type="password" name="password">
  </div>

  <button> Create New Account </button>
</form>

<p>
  Already have an account?
  <a href="/login">
    Log in.
  </a>
</p>
