<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Sign up
      </h1>
      <h2 class="subtitle">
        Welcome to Bandaid, please create an account
      </h2>
    </div>
  </div>
</section>

<% if (errorMessage) { %>
  <p class="error-message">
    <%= errorMessage %>
  </p>
<% } %>

<form action="/signup" method="post" class="form-fields">
  <div class="field">
    <label class="label" for="username-input"> Username </label>
    <div class="control has-icons-left">
      <input class="input" type="text" name="username" placeholder="Username" autocomplete="off">
      <span class="icon is-small is-left">
      <i class="fa fa-user"></i>
    </div>
  </div>

  <div class="field">
    <label class="label" for="password-input"> Password </label>
    <div class="control has-icons-left">
      <input class="input" type="password" name="password" placeholder="Password" autocomplete="off">
      <span class="icon is-small is-left">
      <i class="fa fa-lock"></i>
    </span>
    </div>
  </div>

  <div class="field is-grouped">
  <div class="control">
    <button class="button is-link"> Create New Account </button>
  </div>
  </div>
</form>

<p>
  Already have an account?
  <a href="/login">
    Log in.
  </a>
</p>
