<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/bulma/css/bulma.css"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/"> <%= title %> </a>
      </div>
      <div class="navbar-item">
        <a href="/home">Home</a>
      <div>
      <div class="navbar-item">
        <a href="/listen/1">Listen Mode</a>
      <div>
      <div class="navbar-item">
        <a href="/home">Logout</a>
      <div>
    </nav>

    <%- body -%>

    <footer>
      <p> Made with &hearts; by Thibaut & Jad </p>
    </footer>
  </body>
</html>
