<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/bulma/css/bulma.css"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <h1> <a href="/"> <%= title %> </a> </h1>
    </header>

    <%- body -%>

    <footer>
      <p> Made with &hearts; by Thibaut & Jad </p>
    </footer>
  </body>
</html>
