<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/bulma/css/bulma.css"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:700" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item logo-text" href="/"><img src="/images/band-aid.svg" class="svg logo-icon"> <%= title %> </a>
      </div>
      <div class="navbar-item navtext">
        <a href="/home">Home</a>
      </div>
        <div class="navbar-item navtext">
          <a href="/listen/1">Listen Mode</a>
        </div>
        <div class="navbar-item navtext">
          <a href="/home">Logout</a>
        </div>
    </nav>
    <section id="container">
    <%- body -%>


    <footer>
      <p> Made with &hearts; by Thibaut & Jad </p>
    </footer>
    </section>
    <script src="https://use.fontawesome.com/d98366d725.js"></script>
  </body>
</html>
