<div id='donePage'>
  <h1 id='doneTitle'>You're all done!</h1>
  <img src="/images/turntable.svg" alt="Turntable">
  <h2>Head back to your <a href="/home">feed</a> to discover more good music</h2>
</div>