<div class='donePage'>
    <div>
      <h1 id='errorTitle'>Oups, something went wrong!</h1>
      <img id='errorpic' src="/images/technology.svg" alt="Turntable">
      <h2>Try refreshing the page or heading back <a href="/home">Home</a></h2>
    </div>
    </div>