<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Welcome to <%= title %>.
      </h1>
    </div>
  </div>
</section>

<section class="hero is-info is-medium is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Music discovery made simple
      </h1>
      <h2 class="subtitle">
        <div>
            <a class="button is-primary is-medium" style="margin-top: 80px" href="/signup"> Sign Up with your Bandcamp account </a>
        </div>
        <div>
            <a class="button is-primary is-inverted is-outlined" style="margin-top: 40px" href="/login"> Log In </a>
        </div>
      </h2>
    </div>
  </div>
</section>
