<section id="landing" class="hero is-info is-medium">
  <div class="hero-body">
    <div class="has-text-centered">
      <h1 class="title">
        <%= title %>, music discovery made simple
      </h1>
      <h2 class="subtitle">
        <div>
            <a class="signup button is-primary is-medium" href="/signup"> Sign Up </a>
        </div>
        <div class="bc-info content is-small">Using your Bandcamp account</div>
        <div>
            <a class="login button is-primary is-inverted is-outlined" href="/login"> Log In </a>
        </div>
      </h2>
    </div>
  </div>
</section>
<section class="hero is-danger is-small">
  <div class="hero-body">
    <div class="">
      <h1 class="title">
        How it works
      </h1>
      <h2 class="subtitle">
        Bandaid sorts your Bandcamp feed for you and displays unmissable albums.
      </h2>
  </div>
</section>
