<div id='donePage'>
  <div class='setupdonePage'>
    <h1>You're ready to go!</h1>
    <img src="/images/turntable.svg" alt="Turntable">
    <h2>Head to your <a href="/home">feed</a> to discover some good music</h2>
  </div>
  </div>