body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(217, 251, 255);
  height: 100vh;
}

a {
  color: #00B7FF;
}


/* Listen Mode Styling */
#listen-mode {
  background-color: rgb(217, 251, 255);
}

#listen-mode audio {
  width: 200px;
  height: 50px;
}

#listen-mode .arrow {
  width: 150px;
}


#listen-mode .arrow img, #listen-mode .arrow a {
  width: 50px;
  height: 50px;
}
