* {
  box-sizing: border-box;
}

html {
  height: 100vh;
  background-color: rgb(225, 232, 232);
}

nav {
  margin-bottom: 30px;
}

.navtext a {
  color: #ffffff;
}

.navtext a:hover {
  color: #EDEDED;
}


#container {
  margin: 0px 100px;
  padding: 10px 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(218, 221, 222);
}

.footer {
  margin-top: 30px;
  background-color: rgb(225, 232, 232);
}

a {
  color: #00B7FF;
}

.logo-icon {
  max-width: 30px;
  max-height: 30px;
  margin: 0 10px 0 0;
  fill: white;
  color: white;
}

.logo-text {
  font-family: 'Source Sans Pro';
  font-size: 2rem;
}

/* Sign Up Styling */

.form-fields {
  width: 300px;
}


/* Listen Mode Styling */
#listen-mode {
  padding-right: 50px;
}

#listen-mode h1 {
  font-size: 2.4em;
  margin-bottom: 10px;
  margin-top: 20px;
  width: 700px;
  text-align: center;
}

#listen-mode h2 {
  margin-bottom: 10px;
}

#listen-mode .arrow {
  width: 150px;
  margin-top: 250px;
}

#next {
  margin-right: 50px; 
}

#listen-mode div {
  display: flex;
  flex-direction: column;
  align-items: center
}

#listen-mode .cover {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
}

#listen-mode .cover img {
  width: 400px;
}

#listen-mode .user-feedback {
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin-bottom: 30px;
}

#listen-mode .user-feedback a {
  width: 65px;
  height: 50px;
  margin: 0px 40px;
  opacity: 0.8;
  margin-top: 10px;
}

#listen-mode .spotify {
  margin: 60px auto 30px 0px;
  border: 1.5px solid #bbbbbb;
  padding: 15px;
  width: 420px;
}

#listen-mode .spotify img {
  width: 65px;
  height: 65px;
}

#listen-mode .spotify section {
  display: flex;
  align-items: center;
  margin-right: auto;
}

#listen-mode .spotify h1 {
  font-size: 1.7em;
  margin-bottom: 5px;
  width: 400px;
  text-align: initial;
  margin-left: 25px;
  margin-top: 10px;
}

#listen-mode .spotify p {
  font-size: 1.2em;
  width: 250px;
  margin-right: 15px
}

#sucks, #rocks, #bc {
  width: 75px;
  height: 75px
}

#listen-mode .arrow img, #listen-mode .arrow a {
  width: 50px;
  height: 50px;
}

#listen-mode .track {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 600px;
  margin: 2px 0px;
}

#listen-mode .track p:first-of-type {
  margin-right: 20px;
}

#listen-mode .track audio, #listen-mode .NA-error-message {
  width: 300px;
  margin: 4px;
  margin-left: auto;
}

#listen-mode .NA-error-message {
  margin-right: 0px;
}
/* Home Styling */

.tag:not(body) {
  font-size: 0.65rem;
}

#home .cover {
  margin: 0 0 5px 0;
  min-width: 128px;
  max-width: 256px;
}

#home .album-title {
  margin: 0 0 10px 0;
  font-size: 1rem;
  /*height: 36px;*/
}

#home .artist {
  margin: 0 0 5px 0;
}

#home .genres {
  margin-bottom: 5px;
}

#home .genres div {
  height: 20px;
  overflow: hidden;
  margin-bottom: 6px;
}

#home .go-to-listen-mode {
  font-size: 0.75rem;
}

#home .count {
  margin-left: 10px;
}

#home .bottom-tag {
  margin-bottom: 10px;
}


/* Styling the Done page */
#donePage h1 {
  font-size: 4em;
  margin: 50px;
  margin-bottom: 0px;
}

#donePage h2 {
  font-size: 2.4em;
  margin: 50px 80px;
  margin-top: 0px;
}

#donePage img {
  width: 450px;
  margin-left: 200px;
  margin-top: -20px;
}

/* Styling the MusicBox */
.musicBoxTitle {
  font-size: 3em;
  display: flex;
  align-items: center;
}

.musicBoxTitle img {
  width: 40px;
  margin-bottom: -10px;
  margin-left: 8px;
}
